.margen{
   margin: 4.5px;
}
.IrmaForm{
   color: #E9817C;
}
@media(min-width:769px){
   .IrmaForm Label{
      font-size: 23px;
      text-align: center;
   }
   .IrmaForm{
      display: block;
      text-align: center;
      max-width: 560px;
      margin: 0% auto;
   }
   .formMainBox{
      display: flex;
      position: relative;
      padding: 0% 0%;
      align-items: center;
   }
   .formPics{
      display: block;
      position: relative;
      width: 35.5%;
      margin: 0% auto 0% auto;
      /* padding: 27px 27px 27px 27px; */
      max-width: 480px;
      max-height: 527px;
   }
   .Foto1{
      position: relative;
   }
   .Foto2{
      position: absolute;
      top: 26.1875px;
      right: 23.875px;
   }
   .Foto3{
      position: absolute;
      top: 46%;
      right: 5%;
   }
   .Foto4{
      position: relative;
      
   }
   .Foto5{
      position: relative;
   }
   .Foto6{
      position: absolute;
      right: 5%;
      bottom: 5%;
   }
   .form-group{
      display: block;
      width: 75%;
      margin: 0% auto;
   }
   .formBox{
      display: block;
      width: 50%;
      margin: 0% auto 0% auto;
      padding: 0% 2% 0% 2%;
   }
   .form{
      margin: 2% 0%;
      border-radius: 0% !important;
   }
   .form::placeholder{
      color: #E9817C !important;
   }
   .submitBTN{
      display: block !important;
      width: 80%;
      margin: 0% auto 0% auto;
      background-color: #E9817C !important;
      color: white !important;
   }
   .submitBTN:disabled{
      background-color: #6C757D !important;
   }
   .legalBox{
      width: 100%;
      line-height: 1.5;
   }
   .legalcheck{
      font-size: 0.8rem;
      margin: 1.4% 0% 0% 0% !important;
   }
   .legalForm{
      font-size: 0.8rem;
      line-height: 0.5;
      margin: 0% 0% 0% 0%;
   }
}
@media(max-width:768px){
   .IrmaForm Label{
      font-size: 1.2rem;
   }
   .formMainBox{
      display: flex;
      position: relative;
      padding: 0% 0%;
      align-items: center;
   }
   .formPics{
      display: none;
      position: relative;
      width: 35.5%;
      margin: 0% auto 0% auto;
      /* padding: 27px 27px 27px 27px; */
      max-width: 480px;
      max-height: 527px;
   }
   .Foto1{
      position: relative;
      display: none;
   }
   .Foto2{
      position: absolute;
      top: 26.1875px;
      right: 23.875px;
      display: none;
   }
   .Foto3{
      position: absolute;
      top: 46%;
      right: 5%;
      display: none;
   }
   .Foto4{
      position: relative;
      display: none;
      
   }
   .Foto5{
      position: relative;
      display: none;
   }
   .Foto6{
      position: absolute;
      right: 5%;
      bottom: 5%;
      display: none;
   }
   .formBox{
      display: block;
      width: 85%;
      margin: 0% auto 0% auto;
      padding: 0% 2% 0% 2%;
   }
   .form{
      margin: 2% 0%;
      border-radius: 0% !important;
   }
   .form::placeholder{
      color: #E9817C !important;
   }
   .submitBTN{
      display: block !important;
      width: 80%;
      margin: 5% auto 5% auto;
      background-color: #E9817C !important;
      color: white !important;
   }
   .submitBTN:disabled{
      background-color: #6C757D !important;
   }
   .legalBox{
      line-height: 1.35;
   }
   .legalcheck{
      font-size: 0.8rem;
   }
   .legalForm{
      font-size: 0.8rem;
      line-height: 0.5;
   }
}