.margen{
   margin: 4.5px;
}
.IrmaForm{
   color: #E9817C;
}
@media(min-width:769px){
   .IrmaForm Label{
      font-size: 23px;
   }
   .formMainBox{
      display: flex;
      position: relative;
      padding: 0% 0%;
      align-items: center;
   }
   .formPics{
      display: block;
      position: relative;
      width: 35.5%;
      margin: 0% auto 0% auto;
      /* padding: 27px 27px 27px 27px; */
      max-width: 480px;
      max-height: 527px;
   }
   .Foto1{
      position: relative;
   }
   .Foto2{
      position: absolute;
      top: 26.1875px;
      right: 23.875px;
   }
   .Foto3{
      position: absolute;
      top: 46%;
      right: 5%;
   }
   .Foto4{
      position: relative;
      
   }
   .Foto5{
      position: relative;
   }
   .Foto6{
      position: absolute;
      right: 5%;
      bottom: 5%;
   }
   .formBox{
      display: block;
      width: 45%;
      margin: 0% auto 0% auto;
      padding: 0% 2% 0% 2%;
   }
   .form{
      margin: 2% 0%;
      border-radius: 0% !important;
   }
   .form::placeholder{
      color: #E9817C !important;
   }
   .submitBTN{
      display: block !important;
      width: 80%;
      margin: 0% auto 0% auto;
      background-color: #E9817C !important;
      color: white !important;
   }
   .submitBTN:disabled{
      background-color: #6C757D !important;
   }
}