.navbar-dark {
	background-color: white;
}

/* .NavBtn{
	background-color: rgb(225,225,225) !important;
} */
.navbar-light .navbar-toggler{
   border-color: transparent !important;
   color: #E9817C !important;
}
.navbar-toggler-icon{
   background-image: url(../../img/NavbarIcon.png) !important;
}
.NavMenu{
	background-color:white;
	z-index: 100;
}
.navbarIrma{
	width: 50%;
	margin: 0% 0% 0% 10% ;
	z-index: 100;
}
.MainNavbar{
	position: fixed;
	margin: 0% 0% 0% 5%;
}