#Home{
   position: relative;
}
/* .IrmaTextBox::-webkit-scrollbar-track{
   background: #e9817c !important;
}
.IrmaTextBox::-webkit-scrollbar-thumb{
   background: #e9817c !important;
} */
@media(min-width:769px){
   .IrmaMain{
      position: relative;
      display: flex;
      width: 100%;
      margin: 0% auto 0% auto;
      height: 100vh;
      /* align-items: center; */
      padding: 5% 0% 0% 0%;
   }
   .IrmaSigning{
      display: block;
      width: 50%;
      margin: 0% auto 0% auto;
      text-align: center;
      align-self: center;
   }
   .MainSigning{
      vertical-align: middle0;
   }
   .IrmaMainPic{
      display: block;
      width: 50%;
      margin: 0% auto 0% auto;
      padding: 1% 0% 1% 0%;
      text-align: -webkit-right;
   }
   .IrmaPic{
      display: block;
      height: 100%;
   }
   .IrmaAboutBox{
      position: relative;
      display: flex;
      width: 90%;
      margin: 0% auto;
      height: 100vh;  
      align-items: center;
      padding: 5% 0% 0% 0%;

   }
   .IrmaPicsBox{
      display: block;
      width: 50%;
      margin: 0% auto;
   }
   .Irma{
      display: block;
      width: 100%;
      margin: 0% auto 0% auto;
   }
   .card{
      flex-direction: row !important;
   }
   .Irmapic{
      display: block;
      
      margin: 0% auto;
   }
   .IrmaMainTextBox{
      display: block;
      width: 50%;
      margin: 0% auto;
   }
   .IrmaTextBox{
      display: block;
      width: 90%;
      height: 200px;
      overflow-y: scroll;
      overflow-x: hidden;
      margin: 0% auto;
   }
   .IrmaSign{
      display: block;
      width: 50%;
      margin: 0% auto;
      text-align: center;
      color: #E9817C;
   }
}
@media(max-width:768px){
   
}