.Rosa{
   color: #E9817C;
}
@media(min-width:769px){
   .FamosoMainBox{
      display: flex;
      /* height: 80vh; */
      padding: 0% 0% 0% 0%;
      align-items: center;
      justify-content: center;
   }
   .FamosoPics{
      display: block;
      width: 40%;
      /* margin: 0% auto; */
      padding: 0% 0%;
   }
   .FamousMainPics{
      display: block;
      padding: 5% 2%;
   }
   .FamousPic{
      display: block;
      width: 70%;
      margin: 0% auto 0% auto;
      padding: 10% 0% 10% 0%;
   }
   .FamosoText{
      display: block;
      width: 40%;
      /* margin: 0% auto; */
      padding: 2%;
   }
   .FamosoTitle{
      position: relative;
      font-size: 33px;
      width: 100%;
   }
   .MainIcon{
      position: absolute;
      top: -25%;
      right: 5%;
   }
   .redesIcon{
      margin: 0% 1% 0% 1%;
   }
   .MoreInfoBox{
      display: block;
      width: 50%;
      margin: 1% auto 0% auto;
      border: solid 2px #E9817C;
      border-radius: 20px;
      text-align: center;
   }
   .MoreInfoBox p{
      margin: 1% 0%;
   }

}
@media(max-width:768px){

}